.home-main {
    /* position: relative; */
    margin-left: 10px;
}

.all-posts {
    display: flex;
    position: relative;
    color:aliceblue;
}

.post-link {
    position: absolute;
    left: 110px;
    top: -100px;
}

.post-display {
    position: absolute;
    left: 100px;
}