.home-dark {
    position: relative;
    /* height: 100%; */
}

.form-card {
    position: absolute;
    top: 100px;
    left: 100px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-size: 1.25rem;
}