.home-dark {
    display: flex;
    justify-content: center;
    background-color: rgba(43, 52, 103);
    height: 100vh;
    width: 100%;
}

/* .form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px #EB455F solid;
    background-color: rgba(186, 215, 233, 0.75);
    border-radius: 12px;
    width: 500px;
    padding: 25px;
    margin: 25px;
    height: 70vh;
} */