.form-card {
    /* font-family: 'Tilt Neon', cursive; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* position: relative; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 50px solid rgba(87, 155, 177, .5); */
    /* background-color: rgba(87, 155, 177); */
    /* box-shadow: 15px 15px #579BB1; */
    /* border-radius: 50%; */
    /* width: 500px; */
    /* padding: 25px; */
    /* margin: 25px; */
    /* height: 500px; */
    /* color: aliceblue; */
    /* font-size: 1.25rem; */
    /* z-index: 1; */
    /* margin-top: -1300px; */
}

.new-post__controls {
    /* flex-direction: inherit; */
    /* background-color: rgba(252, 255, 231); */
}

.new-post__control {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    margin: 5px;
    padding:10px;
}

.new-post__control label {
    font-weight: bold;
}

.new-post__control input, textarea {
    background-color: rgba(0,0,0, 0.5);
    color:aliceblue;
    border: #03C4A1 solid 1px;
}

.new-post__control:active input textarea {
    /* border: #579BB1 solid 1px; */
    /* color: #579BB1; */
}

.new-post__control input, label {
    /* border-radius: 5px; */
    /* border: 1px #2B3467 solid; */
    width: 350px;
    /* background-color: #579BB1; */
}

.new-post__actions {
    margin: 10px;
}

.post-btn {
    /* margin: 10px 0; */
    background-color: #EB455F;
    font-size: 1.25rem;
    border: none;
    /* box-shadow: 2px 2px #2B3467; */
}

.post-btn:hover {
    background-color: #2B3467;
    color:#EB455F;
}

.post-btn:active {
    background-color: #FCFFE7;
    
}