.card {
    border-radius: 1px;
    border: 1px solid #03C4A1;
    width: 500px;
    height: 400px;
    margin: 10px;
    left: 25px;
    padding: 5px 15px;
    /* box-shadow: 1px 1px 3px #00FFAB; */
    background-color: rgba(0, 0, 0, .25);
    color: aliceblue;
    flex: 1;
    /* justify-content: center; */
}

.card:hover {
    flex: 2;
    /* height: 410px; */
    /* width: 325px; */
}